<div class = "jumbotron">
<h1><i class="fa fa-pencil-square-o" aria-hidden="true"></i>SpyderWeb</h1>
<p>Una app para organizar tu día a día</p>
<%= link_to 'Iniciar', "#", class: ' btn btn-primary btn-lg' %>
</div>